extends layout


block content
  // Article
  .container.py-5
      .row
        .col-lg-8
          article
            // Post title
            header.mb-4
              h1.fw-bolder.mb-1 Title
              .text-muted.fst-italic.mb-2 Posted on January 1, 2023 by Start Bootstrap
              figure.mb-4
                img.img-fluid.rounded(src='images/articles/0/0.jpg')
            // Post content
            section.mb-5
              p.fs-5.mb-4
                | Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.
                | The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.
                | If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.

  