extends layout


block content
  // Article
  .container.py-5
      .row
        .col-lg-8
          article
            // Post title
            header.mb-4
              h1.fw-bolder.mb-1 #{title}
              .text-muted.fst-italic.mb-2 Posted on January 1, 2023 by Naz
              figure.mb-4
                img.img-fluid.rounded(src='images/articles/#{id}/0.jpg')
            // Post content
            section.mb-5
              p.fs-5.mb-4 #{content}

  