extends layout


mixin article(articleId, title)
  .col
    a.link-unstyled(href="/article?id=#{articleId}")
      .card.shadow-sm
        img(src='images/articles/#{articleId}/0.jpg', alt='News Image', width='100%', height='225')
        .card-body
          h5.card-title #{title}
          p.card-text
            | You can use this section to provide a brief overview of the article. This content is a little bit longer than the title.
          .d-flex.justify-content-between.align-items-center
            small.text-body-secondary 9 mins

block content
  - console.log( "In Jade " + articles )
  // CAROUSEL
  #myCarousel.carousel.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button', data-bs-target='#myCarousel', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
      button(type='button', data-bs-target='#myCarousel', data-bs-slide-to='1', aria-label='Slide 2')
      button(type='button', data-bs-target='#myCarousel', data-bs-slide-to='2', aria-label='Slide 3')
    .carousel-inner
      a.link-unstyled(href="/article?id=0")
        .carousel-item.active
          img.d-block.w-100(src='images/articles/0/0.jpg', alt='News Image', width='100%', height='100%')
          .container
            .carousel-caption
              h1 Final Fantasy XVI
              p The sixteenth episode of the storic series from Square Enix is finally out
      a.link-unstyled(href="/article?id=1")      
        .carousel-item
              img.d-block.w-100(src='images/articles/1/0.jpg', alt='News Image', width='100%', height='100%')
              .container
                .carousel-caption
                  h1 The Legend of Zelda - Tears of the Kingdom
                  p We can finally play the sequel of the 2017 Game of the Year
      a.link-unstyled(href="/article?id=2")
        .carousel-item
          img.d-block.w-100(src='images/articles/2/0.jpg', alt='News Image', width='100%', height='100%')
          .container
            .carousel-caption
              h1 THE FIRST SLAM DUNK
              p After a couple of decades the ending of Slam Dunk is finally animated
              // <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
    button.carousel-control-prev(type='button', data-bs-target='#myCarousel', data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button', data-bs-target='#myCarousel', data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next
  // ARTICLES
  #articles.album.py-5.bg-body-tertiary
      .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          - for (var i=0; i<9; i++) {
            +article(articles[i].id, articles[i].title)
          - }